body
{
	background-color: #33334d;
}

#sideMenu
{
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #26004d;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sideMenuButtons
{
	margin: 24px 0 0 12px;
	font-size: 25px;
	color: white;
	display: block;
	background-color: black;
	width: 156px;
	height: 50px;
	border: 1px white solid;
	font-family: monospace;

}

.sideMenuButtons:hover
{
	background-color: white;
	color: black;
	transition: 0.5s;
	border-color: black;
}

#closeButton
{
	width: 40px;
	height: 40px;
	font-size: 60px;
	background-color: transparent;
	border: 0;
	margin: -50px 0 0 42px;
	outline: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
  transition: margin-left .5s;
  padding: 20px;
}

#homeButton
{
	margin-top: 50px
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideMenu {padding-top: 15px;}
  .sideMenu a {font-size: 18px;}
}